<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="trader.css">
    <title>Document</title>
</head>
<body>
    <header class="nhn-header">
        <div class="header-navi-wrap">
            <div class="header-inner">
                <h1 class="logo">
                    <a href="/nhnace/index.html">
                        <img src="/nhnace/img/nhn-logo.png" alt="">
                    </a>
                </h1>
                <ul class="menu gnb">
                    <li>
                        <a href="" class="menu-title">Solutions</a>
                        <ul class="sub-menu">
                            <li>
                                <a href="/nhnace/solutions/nhnace-trader/trader.html">ACE Trader</a>
                            </li>
                            <li>
                                <a href="/nhnace/solutions/nhnace-exchange/exchange.html">ACE eXchange</a>
                            </li>
                            <li>
                                <a href="/nhnace/solutions/nhnace-adlib/adlib.html">ACE ADLIB</a>
                            </li>
                        </ul>
                    </li>
                    
                    <li>
                        <a href="" class="menu-title">Tesources</a>
                        <ul class="sub-menu">
                            <li>
                                <a href="">Notice</a>
                            </li>
                            <li>
                                <a href="">FAQ</a>
                            </li>
                            <li>
                                <a href="">자료실</a>
                            </li>
                            <li>
                                <a href="">Blog</a>
                            </li>
                        </ul>
                    </li>

                    <li>
                        <a href="" class="menu-title">Company</a>
                        <ul class="sub-menu">
                            <li>
                                <a href="">회사소개</a>
                            </li>
                            <li>
                                <a href="">오시는 길</a>
                            </li>
                            <li>
                                <a href="">채용</a>
                            </li>
                        </ul>
                    </li>
                </ul>
                <div class="sub-menu-box"></div>
                
                <div class="menu-box">
                    <div class="language-wrap">
                        <button class="language">KOR</button>
                        <ul class="language-setting">
                            <li>
                                <a href="#" class="language-select on">KOR</a>
                            </li>
                            <li>
                                <a href="#" class="language-select">ENG</a>
                            </li>
                        </ul>
                    </div>
                    <a class="menu menu-icon"></a>
                </div>
            </div>
        </div>
    </header>

    <main class="trader-main">
        <div class="main-box1">
            <div class="content-wrap">
                <div class="main-box1-wrapper">
                    <div class="page-location">
                        <span class="home-logo"></span>
                        <span class="arrow">></span>
                        <p class="loca-solution">Solutions</p>
                        <span class="arrow">></span>
                        <p class="loca-trader">ACE Trader</p>
                    </div>

                    <div class="text-box">
                        <div class="left-box">
                            <h2 class="trader-title">
                                ACE <span>TRADER</span>
                            </h2>
                            <p class="trader-exp">
                                ACE Trader는 NHN 그룹사의 투명한 데이터와 수준 높은 기술력을 바탕으로<br>정교한 타겟팅, 엄선된 프리미엄 인벤토리를 토대로 서비스를 제공하고 있습니다.
                            </p>
                        </div>
                        <div class="right-box">
                            <a href="" class="traderBtn">ACE Trader 상품소개서</a>
                            <a href="" class="traderBtn">AD Center 바로가기</a>
                        </div>
                    </div>

                    <div class="inner-tab">
                        <div class="content-wrap">
                            <ul class="inner-list">
                                <li><a href="/nhnace/solutions/nhnace-trader/trader.html" class="inner-tabBtn">ACE Trader</a></li>
                                <li><a href="/nhnace/solutions/nhnace-exchange/exchange.html"  class="inner-tabBtn">ACE eXchange</a></li>
                                <li><a href="/nhnace/solutions/nhnace-adlib/adlib.html" class="inner-tabBtn">ACE ADLIB</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="main-box2">
            <div class="box2-textBox">
                <h2 class="trader-title">ACE    <span>DMP</span></h2>
                <p class="dmp-subTitle">타겟팅 광고 오디언스 데이터 플랫폼</p>
                <p class="dmp-exp">그룹사를 비롯한 신뢰도 높은 채널을 통해 수집된 다양한 데이터를 기반으로, 국내 최대 규모의 오디언스 데이터를 확보하고 있으며,<br>머신러닝 기반의 모델링 기법을 통해 개별 오디언스에 대한 데모, 관심사를 예측하고 다양한 Segment로 분류하여 마케팅에 효과적으로 활용합니다.</p>
            </div>
            <div class="dmp-imgBox"></div>
        </div>

        <div class="main-box3">
            <div class="content-wrap">
                <div class="box3-textBox">
                    <h2 class="title">지원 타겟팅</h2>
                    <p class="sub-title">Ace Trader는 고객의 니즈에 맞춘 다양한 타겟팅 방식을 지원합니다.</p>
                </div>

                <ul class="targetingList">
                    <li>
                        <div class="list-imgBox">
                            <span class="img"></span>
                            <p class="number">01</p>
                        </div>
                        <h3>DMP 오디언스 타겟팅</h3>
                        <p>ACE DMP 외에 외부 제휴 DMP의 오디언스를 자유롭게 조합하여 광고를 노출합니다. 검색, 구매, 방문, 앱설치, 광고 반응 데이터 등 다양한 데이터를 조합할 수 있습니다.</p>
                    </li>
                    <li>
                        <div class="list-imgBox">
                            <span class="img"></span>
                            <p class="number">02</p>
                        </div>
                        <h3>디타겟팅</h3>
                        <p>ACE Trader가 제공하는 다양한 타겟팅에서 AND NOT 조건으로 특정 세그먼트를 제외하여 타겟팅이 가능합니다.</p>
                    </li>
                    <li>
                        <div class="list-imgBox">
                            <span class="img"></span>
                            <p class="number">03</p>
                        </div>
                        <h3>유사유저 타겟팅</h3>
                        <p>ACE Trader 자체 `Lookalike` 모델을 통해 광고주가 원하는 오디언스와 가장 유사한 특성의 타겟 오디언스를 추출하여 광고를 노출합니다.</p>
                    </li>
                    <li>
                        <div class="list-imgBox">
                            <span class="img"></span>
                            <p class="number">04</p>
                        </div>
                        <h3>ADID/IDFA 타겟팅</h3>
                        <p>광고주가 보유하고 있는 ADID/IDFA(광고ID)를 이용한 타겟팅 광고를 노출합니다.</p>
                    </li>
                    <li>
                        <div class="list-imgBox">
                            <span class="img"></span>
                            <p class="number">05</p>
                        </div>
                        <h3>관심사 타겟팅</h3>
                        <p>유저의 행동정보를 수집, 분석하여 170여 개의 관심사로 분류하여 관련된 광고를 노출합니다.</p>
                    </li>
                    <li>
                        <div class="list-imgBox">
                            <span class="img"></span>
                            <p class="number">06</p>
                        </div>
                        <h3>리타겟팅</h3>
                        <p>광고주의 웹과 앱에서 수집된 정보를 통해 데이터를 조정하여 매체에 광고를 노출합니다.</p>
                    </li>
                    <li>
                        <div class="list-imgBox">
                            <span class="img"></span>
                            <p class="number">07</p>
                        </div>
                        <h3>카테고리 타겟팅</h3>
                        <p>언론사/비언론사 구분하여 노출 가능하며, 특정 카테고리 노출을 원할 경우 별도로 문의 부탁드립니다.</p>
                    </li>
                    <li>
                        <div class="list-imgBox">
                            <span class="img"></span>
                            <p class="number">08</p>
                        </div>
                        <h3>기본 타겟팅</h3>
                        <p>지역, 연령, OS, 단말기 등 기본 타겟팅은 별도 할증 없이 중복으로 적용 가능합니다.</p>
                    </li>
                </ul>
            </div>
        </div>
        <div class="main-box4">
            <div class="content-wrap">
                <div class="box4-textBox">
                    <h3 class="title">지원 소재 및 포맷</h3>
                    <p class="subTitle">Ace Trader는 이미지 배너 뿐만 아니라, 앱 전면 동영상, CTV 영역까지 다양한 포맷을 지원합니다.</p>
                </div>

                <div class="container-box container-box1">
                    <p class="container-title">간단한 이미지와 텍스트 소스 활용</p>
                    <ul class="container-list">
                        <li>
                            <div class="left-box">
                                <h3>이미지+텍스트 배너</h3>
                                <p>간단한 이미지 2장과 텍스트 만으로 전체 사이즈 베리에이션이 가능합니다. 텍스트 위주 소구 캠페인에 적합한 배너 솔루션입니다.</p>
                            </div>
                            <div class="right-box">
                                <div class="img-box"></div>
                            </div>
                        </li>
                        <li>
                            <div class="left-box">
                                <h3>컴포넌트 배너</h3>
                                <p>광고 캠페인 목적에 최적화된 배너 시스템을 이용하여 다양한 디바이스 및 앱/웹 캠페인에 효과적으로 적용할 수 있는 배너 솔루션입니다.</p>
                            </div>
                            <div class="right-box">
                                <div class="img-box"></div>
                            </div>
                        </li>
                        <li>
                            <div class="left-box">
                                <h3>다이나믹 배너</h3>
                                <p>다양한 상품을 판매하는 커머스 분야에 적합한 배너로 여러 상품의 정보를 실시간으로 반영하여 비교구매에 최적화된 배너 솔루션입니다.</p>
                            </div>
                            <div class="right-box">
                                <div class="img-box"></div>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="container-box container-box1">
                    <p class="container-title">이미지 크리에이티브 활용</p>
                    <ul class="container-list">
                        <li>
                            <div class="left-box">
                                <h3>고정 이미지 배너</h3>
                                <p>한 장의 이미지를 활용한 브랜드 메시지나 프로모션을 간결하게 전달합니다. 심플한 구성으로 다양한 웹/앱 광고 캠페인에 적용할 수 있는 배너 솔루션입니다.</p>
                            </div>
                            <div class="right-box">
                                <div class="img-box"></div>
                            </div>
                        </li>
                        <li>
                            <div class="left-box">
                                <h3>모션 배너</h3>
                                <p>움직임과 깜빡임 등의 모션 효과로 유저들의 시선을 단번에 끌어올릴 수 있습니다. 동적인 연출로 주목도를 높이고, 주요 메시지 전달에 최적화되어 있습니다.</p>
                            </div>
                            <div class="right-box">
                                <div class="img-box"></div>
                            </div>
                        </li>
                        <li>
                            <div class="left-box">
                                <h3>슬라이딩 배너</h3>
                                <p>여러 이미지를 순차적으로 전환하는 슬라이딩 방식으로 유저의 액션을 유도해, 텍스트를 강조하고 싶을 때 적합한 배너 솔루션입니다.</p>
                            </div>
                            <div class="right-box">
                                <div class="img-box"></div>
                            </div>
                        </li>
                        <li>
                            <div class="left-box">
                                <h3>멀티버튼 배너</h3>
                                <p>여러 개의 액션 버튼을 배치해 다양한 랜딩으로 유도할 수 있는 배너입니다. 사용자의 선택 폭을 넓히고, 캠페인이나 제품을 동시에 홍보하는 데 효과적입니다.</p>
                            </div>
                            <div class="right-box">
                                <div class="img-box"></div>
                            </div>
                        </li>
                        <li>
                            <div class="left-box">
                                <h3>타임 배너</h3>
                                <p>노출 시간, 카운트다운 등 시간 정보를 활용하여 긴박함을 주는 배너 솔루션으로, 라이브 방송, 개봉, 제품 출시, 이벤트 임박 등 캠페인에 적합합니다.</p>
                            </div>
                            <div class="right-box">
                                <div class="img-box"></div>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="container-box container-box1">
                    <p class="container-title">영상 활용</p>
                    <ul class="container-list">
                        <li>
                            <div class="left-box">
                                <h3>APP 전면 영상</h3>
                                <p>CPC 과금 방식을 통해 광고비를 합리적으로 집행할 수 있으며, 앱 실행 시 전면 노출로 광고 주목도를 극대화할 수 있는 영상 광고 솔루션입니다.높은 시인성과 즉각적인 도달 효과로 다양한 앱 캠페인에 적합합니다.</p>
                            </div>
                            <div class="right-box">
                                <div class="img-box"></div>
                            </div>
                        </li>
                        <li>
                            <div class="left-box">
                                <h3>CTV</h3>
                                <p>커넥티드 TV(CTV) 환경에서 다양한 디지털 광고 포맷을 활용하여 대형 스크린을 통한 브랜드 메시지 전달과 캠페인 효과를 극대화할 수 있는 솔루션. SK Btv, U+ tv 실시간 방송(IPTV)과 삼성 TV 플러스 FAST 채널의 Q-Tone 광고 상품 제공, ACE DMP의 ADID와 Set-top Box ID 간 페어링을 통한 오디언스 타겟팅 지원</p>
                            </div>
                            <div class="right-box">
                                <div class="img-box"></div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="main-box5">
            <div class="content-wrap">
                <div class="box-wrapper">
                    <div class="left-box">
                        <h2>
                            당신의 마케팅,<br>
                            NHN ACE와 함께하세요
                        </h2>
                        <div class="linkBtnBox">
                            <a href="" class="link-btn">ACE Trader 상품소개서</a>
                            <a href="" class="link-btn">AD Center 바로가기</a>
                        </div>
                    </div>
                    <div class="right-box">
                        <div class="imgBox"></div>
                    </div>
                </div>
            </div>
        </div>
    </main>

    <footer class="nhn-footer">
        <div class="footer-wrap content-wrap">
            <div class="footer-left-box">
                <h1 class="logo">
                    <a href="">
                        <div class="hide">로고</div>
                        <img src="img/nhn-logo.png" alt="">
                    </a>
                </h1>
                <ul class="footer-info">
                    <li>경기도 성남시 분당구 대왕판교로 645번길 16 플레이뮤지엄 NHN ACE</li>
                    <li>사업자등록번호 : 313-81-35670대표메일 : atx@nhnace.com</li>
                    <li>Copyright © NHN ACE All rights reserved.</li>
                </ul>
            </div>
            <div class="footer-center-box">
                <ul class="footer-link">
                    <li><a href="">회사소개</a></li>
                    <li><a href="">이용약관</a></li>
                    <li><a href="">개인정보 처리방침</a></li>
                    <li><a href="">채용</a></li>
                </ul>
            </div>
            <div class="footer-right-box">
                <button class="siteBtn">Family Site</button>
                <div class="site-Link-list">
                    <ul>
                        <li><a href="">NHN</a></li>
                        <li><a href="">NHNKCP</a></li>
                        <li><a href="">NHNCLOUD</a></li>
                        <li><a href="">NHNAD</a></li>
                        <li><a href="">NHN PAYCO</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>
    <script src="trader.js"></script>
</body>
</html>
