@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Pretendard-Bold';
    src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Pretendard-SemiBold';
    src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
}

* {
    margin: 0; padding: 0;
    box-sizing: border-box;
    font-size: 10px;
    font-family: 'Pretendard-Regular';
}

body {
    overflow-x: hidden;
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: black;
    cursor: pointer;
}

button {
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.hide {
    position: absolute;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    margin: -1px;
    overflow: hidden;
}

.content-wrap {
    width: 100%;
    max-width: 158.4rem;
    margin: 0 auto;
    padding: 0 2rem;
}

.nhn-header {
    height: 9rem;
}

.header-wrap {
    padding-top: 15rem;
}

.header-navi-wrap {
    background-color: rgba(255,255,255,0.1);
    backdrop-filter: blur(15px);
    line-height: 9rem;
    width: 100%;
    position: fixed;
    z-index: 9999;
    padding: 0 2rem;


    transition: background-color .2s ease-in-out;
    
    &:hover {
        background-color: #fff;
    }

    .header-inner {
        display: flex;
        width: 100%;
        max-width: 158.4rem;
        margin: 0 auto;
        justify-content: space-between;
        line-height: 9rem; 
        align-items: center;
        text-align: center;

        .logo {
            a {
                display: flex;

                img {
                    width: 14.5rem;
                    height: 2.6rem;
                }
            }
        }

        .gnb {
            display: flex;
            gap: 17rem;
            height: 100%;

            li {
                width: 100%;
                position: relative;

                &:hover .menu-title {
                    color: #ff2211;
                }

                &:hover .menu-title::before {
                    background-color: #ff2211;
                    transform: translateX(-50%) scale(1);
                }
            }

            .menu-title {
                display: block;
                font-size: 1.8rem;
                transition: all .3s;
                position: relative;
                text-align: center;
                height: auto;

                &::before {
                    content: "";
                    width: 13rem;
                    height: .3rem;
                    background-color: #ff2211;
                    position: absolute;
                    bottom: 0;
                    left: 50%;
                    transform: translateX(-50%) scale(0);
                    transition: all .3s;
                }
            }
        }

        /* gnb의 서브 메뉴 */
        .sub-menu {
            display: none;
            position: absolute;
            width: 13rem;
            left: 50%;
            height: 0;
            transform: translateX(-50%);
            z-index: 999;
            padding-top: 2.5rem;
            
            li {
                a {
                    display: block;
                    line-height: 4rem;
                    font-size: 1.5rem;
                    color: #8f918f;

                    &:hover {
                        color: #ff2211;
                    }

                    &:hover .sub-title{
                        color: #000;
                    }
                }
            }
        }

        .sub-menu-box {
            position: absolute;
            top: 100%;
            width: 100%;
            height: 0;
            left: 0;
            background-color: #fff;
            transition: .3s;
        }

        .sub-menu-box.open {
            height: 25rem;
        }

        .menu-box {
            display: flex;
            gap: 6rem;
        }

        .language {
            font-size: 1.6rem;
            background-color: transparent;
            border: none;
            position: relative;
            display: flex;
            text-align: left;
            
            &::after{
                content: "";
                position: absolute;
                right: -2.4rem;
                top: .5rem;
                transform: rotate(180deg);
                width: 1rem; height: 1rem;
                background: url(/nhnace/img/language.png) no-repeat center / 100%;
                transition: .3s;
            }
        }

        .language.on {
            &::after {
                transform: rotate(0);
            }
        }

        .language-wrap {
            position: relative;
        }

        .language-setting {
            position: absolute;
            background-color: #fff;
            border-radius: 1rem;
            top: 100%;
            left: 50%;
            transform: translateX(-50%);
            box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
            display: none;
            overflow: hidden;
            text-align: left;

            .language-select {
                display: block;
                font-size: 1.5rem;
                padding: 0 1rem;
                width: 10rem;
                line-height: 4rem;
            }

            .language-select.on {
                background-color: #f8f8f8;
                color: #ff2211;
            }
        }

        .menu-icon {
            display: block;
            width: 2.4rem;
            height: 2.4rem;
            background-image: url(/nhnace/img/menu.png);
            background-position: center;
            background-size: 100%;
        }
    }
}

.textBox {
    text-align: center;
    padding: 10rem 0;

    .title {
        font-size: 4rem;
        color: #000;
        line-height: 2;
        font-weight: bold;
    }
    
    .sub-title {
        font-size: 1.7rem;
        line-height: 1.5;
        color: #969da4;
    }
}

.main-box1 {
    height: 60rem;
    background: url(/nhnace/img/trader_banner.png) center/cover no-repeat;
    background-color: #ff2211;
    color: #fff;

    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2rem;

    position: relative;
}

.page-location {
    display: flex;
    gap: 1rem;
    padding: 0 2rem;

    .home-logo {
        width: 2rem;
        height: 2rem;
        background: url(/nhnace/img/home-icon.png) center / 100%;
    }

    p, span {
        font-size: 1.5rem;
    }
}

.text-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2rem;

    width: 100%;
    max-width: none;
}

.left-box {
    .trader-title {
        font-size: 6rem;
        display: flex;
        gap: 1rem;
        align-items: center;
        
        span {
            font-size: 4rem;
        }
    }

    .trader-exp {
        font-size: 2rem;
    }
}

.right-box {
    display: flex;
    flex-direction: column;
    gap: 2rem;

    .traderBtn {
        color: #fff;
        display: block;
        background-color: rgba(0, 0, 0, 0.4);
        font-size: 2rem;
        width: 25rem;

        text-align: center;
        line-height: 6rem;
        border-radius: 1rem;
    }
}

.inner-tab {
    backdrop-filter: blur(15px);  /* 요소 뒤에서 효과 적용 */
    position: absolute;
    line-height: 7rem;
    width: 100%;
    left: 0; bottom: 0;
    
    .inner-list {
        display: flex;
        li {
            a {
                padding: 0 4.5rem;
                font-size: 1.7rem;
                color: #fff;
            }
        }
    }
}

.main-box2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10rem 0;
    
    .title-box {
        display: flex;
        flex-direction: column;
        align-items: center;
        
        .exchange-title {
            font-size: 6rem;
            display: flex;
            gap: 1rem;
            align-items: center;
    
            span {
                font-size: 4rem;
            }
        }
        .exchange-subTitle {
            font-size: 1.5rem;
            color: #9f9f9f;
        }
        .exchangeExp {
            text-align: center;
            margin-top: 2rem;
            font-size: 2rem;
            line-height: 1.5;
        }
    }
}

.main-box3 {
    background-color: #f2f3f5;
    padding: 0 0 24rem 0;
}

.main-box4 {
    padding: 0 0 24rem 0;
    .ADimgList {
        display: flex;
    }
}

.main-box5 {
    padding: 0 0 15rem 0;

    .adList {
        display: flex;
        justify-content: center;
        gap: 2rem;

        li {
            background-color: #fff;
            padding: 4rem;
            border-radius: 2rem;

            .imgBox {
                display: flex;
                justify-content: space-between;
                align-items: center;

                .listNum {
                    font-size: 3rem;
                    font-weight: bold;
                    color: #e6e6e6;
                }
            }

            .contentBox {
                .listTitle {
                    font-size: 3rem;
                    color: #686563;
                    font-weight: bold;
                    line-height: 2;
                }

                .listSubTitle {
                    font-size: 1.8rem;
                    color: #747374;
                }
            }
        }
    }
}

.main-box6 {
    padding: 0 0 10rem 0;
}

.main-box7 {
    background: url(/nhnace/img/ad_bg.png) center / 100% no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;

    .textBox {
        .title {
            color: #fff;
            font-size: 4rem;
        }

        .sub-title {
            color: #fff;
        }
    }

    .global-img {
        width: 92rem;
        height: 46rem;
        background: url(/nhnace/img/ad_global.png) center / 100% no-repeat;
    }
}

.main-box8 {

    .container-box {
        display: flex;
        flex-direction: column;
        align-items: center;
        
        .listTitle {
            font-size: 2rem;
            color: #fff;
            width: fit-content;
            border-radius: 2.5rem;
            background-color: #f74342;
            line-height: 5rem;
            padding: 0 2rem;
        }

        .company {
            font-size: 2rem;
            text-decoration: underline;
            padding: 5rem 0;
        }

        .company-list {
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            margin-bottom: 10rem;
        }
    }
}

.main-box9 {
    background-color: #f2f3f5;
    padding: 10rem;

    h2 {
        font-size: 3.5rem;
        padding-bottom: 10rem;
    }

    .box-wrapper {
        display: flex;
        justify-content: space-between;
        padding: 0 16rem;
    }

    .left-box {
        .linkBtnBox {
            display: flex;
            flex-direction: column;
            gap: 1rem;
        }
    
        .link-btn {
            color: #fff;
            display: block;
            background-color:#000;
            font-size: 2rem;
            width: 25rem;
    
            text-align: center;
            line-height: 6rem;
            border-radius: 1rem;
        }
    }

    .right-box {
        .imgBox {
            width: 66.4rem;
            height: 40rem;
            background: url(/nhnace/img/main5-img.png) center;
        }
    }
}

.nhn-footer {
        padding: 0 2rem;

    
    .footer-wrap {
        display: flex;
        justify-content: space-between;
        padding: 2.8rem 0;
    }

    .footer-left-box {
        .logo {
            margin: 2.5rem 0 1rem 0;
        }

        .footer-info {
            li {
                margin-bottom: .9rem;
                font-size: 1.3rem;
            }
        }

    }
    
    .footer-center-box {
        display: flex;
        align-items: flex-end;

        .footer-link {
            display: flex;
    
            li {
                a {
                    margin: 0 1.2rem;
                    position: relative;
                    font-size: 1.3rem;
    
                    &::after {
                        content: "";
                        position: absolute;
                        right: -1.3rem;
                        top: 50%;
                        transform: translateY(-50%);
                        width: .2rem;
                        height: 1.3rem;
                        background-color: #d9d9d9;
                    }
                }
            }
        }
    }

    .footer-right-box {
        align-items: flex-start;
        position: relative;
        .siteBtn {
            width: 20rem;
            height: 4rem;
            background-color: #f1f2f6;
            text-align: left;
            border-radius: 2rem;
            padding: 0 2rem;
            font-size: 1.3rem;
            position: relative;
            
            &::before {
                content: "";
                transition: .3s;
                position: absolute;
                background: url(/nhnace/img/language.png) center / 100%;
                transform: translateY(-50%) rotate(-180deg);
                width: .9rem;
                height: .9rem;
                top: 50%;
                right: 2rem;
            }
        }

        .siteBtn.on {
            &::before {
                content: "";
                position: absolute;
                background: url(/nhnace/img/language.png) center / 100%;
                transform: translateY(-50%);
                width: .9rem;
                height: .9rem;
                top: 50%;
                right: 2rem;
            }
        }
    }

    .site-Link-list {
        display: none;
        ul {
            position: absolute;
            background-color: #f1f2f6;
            border-radius: 1rem;
            padding: 1rem 0;
            bottom: calc(100% + 1rem);

            li {
                a {
                    display: block;
                    padding: 0 2rem;
                    line-height: 4rem;
                    width: 20rem;
                    font-size: 1.3rem;
                    
                    &:hover {
                        background-color: #f7f9ff;
                    }
                }
            }
        }
    }
}